/*Font Start*/

@font-face{
	font-family: helveticaneue-bold;
	src: url(../fonts/helveticaneue-bold.ttf);
}

@font-face{
	font-family: PTSans-Bold;
	src: url(../fonts/PTSans-Bold.ttf);
}

@font-face{
	font-family: PTSans-Regular;
	src: url(../fonts/PTSans-Regular.ttf);
}

/*Font End*/

/*common style start*/
	
body{
	margin: 0;
	padding: 0;
	font-family: PTSans-Regular;
	font-weight: 400;
	font-size: 16px;
	color: #898989;
}

/*common style end*/

/*Header start*/

header{
	background-color: #fcdb00;
	padding: 40px 0;
}

.container{
	width: 70%;
	margin: 0 auto;
	/*border: 1px solid;*/
}

.header{
	overflow: hidden;
}

.header .logo{
	float: left;
	width: 15%;
	margin-top: 6px;
}	

.header .logo img{
	width: 100%;
}

.header .menubar{
	float: right;
	width: 60%;
}

.header .menubar ul{
	float: right;
}

.header .menubar ul li{
	list-style-type: none;
	float: left;
	margin-right: 77px;
}

.header .menubar ul li a{
	font-family: PTSans-Bold;
	font-weight: 600;
	font-size: 22px;
	color: #010101;
	text-decoration: none;
	text-transform: capitalize;
	display: inline-block;
	transition: 0.3s;
}

.header .menubar ul li a:hover{
	border-bottom: 2px solid black;
}

.header .menubar ul li:last-child {
	margin-right: 0;
}

/*header end*/

/*Banner section start*/


.banner{
	padding-bottom: 100px;
	background-color: #fcdb00;
}

.b_content{
	overflow: hidden;
}

.b_content .b_desc{
	margin-top: 55px;
	width: 33%;
	float: left;
	/*border: 1px solid black;*/
}

.c_title{
	margin: 0;
	font-family: PTSans-Bold;
	font-size: 32px;
	font-weight: 600;
	color: #010101;
}

.c_subtitle{
	margin: 0;
	margin: 25px 0;
	font-size: 20px;
    color: #313841;
    line-height: 25px;
}

.c_text{
	color: #555555;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}

.os_icon{
	margin-top: 35px;
	overflow: hidden;
	text-align: left;
}
.os_icon ul{
	
}	

.os_icon ul li{
	list-style-type: none;
	float: left;
	margin-right: 10%;
}

.os_icon ul li:first-child{
	margin-left: -40px;
}


.os_icon ul li:last-child{
	margin-right: 0;
}

.os_icon .apple img{
	width: 100%;
}
.os_icon .android img{
	width: 100%;
}
.os_icon .windows img{
	width: 100%;
}

.b_content .b_img{
	margin-right: 3%;
    width: 30%;
    float: right;
	/*border: 1px solid black;*/
}

.b_content .b_img img{
	width: 100%;
}


/*Banner section end*/

/*Feature Section start*/

.feature{
	padding: 120px 0 30px;
}

.single_feature_wrapper{
	overflow: hidden;
}

.feature_sec_title{
	text-align: center;
}

.c_sub_mr{
	margin-bottom: 85px;
	margin-left: 150px;
	margin-right: 150px;
}

.c_text_mt{
	margin-top: 15px;
}

.f_title{
	margin: 0;
	font-family: PTSans-Regular;
	font-size: 22px;
	font-weight: 400;
	color: #010101;
}

.f_single_item{
	margin-bottom: 90px;
	float: left;
    width: 30.4%;
    /*border: 1px solid red;*/
    margin-right: 4.1%;
    overflow: hidden;
}

.f_single_item:nth-child(3n){
	margin-right: 0;
}

.icon{
	margin-top: 3px;
	float: left;
	width: 14%;
}

.icon img{
	width: 100%;
}

.f_desc{
	float: right;
	width: 75%;
}

/*Feature Section End*/

/*Contact Section Start*/

.contact{
	background-color: black;
	padding: 100px 0;
}

.c_content{
	text-align: center;
}

.title_yellow{
	color: #fcdb00;
}

.s_form input{
	margin-right: 1.5%;
	width: 565px;
	height: 47.5px;
	padding: 0 18px;
	border: none;
	border-radius: 3px;
}

.s_form input:focus{
	outline: 0;
}

.s_form button{
	width: 120px;
	padding: 14px 0;
	font-family: PTSans-Bold;
	font-size: 16px;
	font-weight: 600px;
	color: #010101;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
	background-color: #fcdb00;
	cursor: pointer;
	transition: 0.3s;
}

.s_form button:hover{
	background-color: #ffffff;
}
.s_form button:focus{
	outline: 0;
}

.social_icon{
	margin-top: 75px;
}

.s_images{
	border: 1px solid red;
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

.s_images ul{
	overflow: hidden;
}
.s_images ul li{
	list-style-type: none;
	float: left;
	margin-right: 10%;
}


.single_img img{
	width: 100%;
}


/*Contact Section End*/

/*Footer Section start*/

footer{
	padding: 60px 0 120px;
	background-color: black;
}

.footer_content{
	overflow: hidden;
}

.footer_text{
	float: left;
	width: 20%;
	color: #ffffff;
}

.footer_text p{
	margin-right: 45px;
}

.footer_text li{
	list-style-type: none;
}

.footer_text li a{
	text-decoration: none;
	color: #ffffff;
}
/*Footer section end*/